* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
